<div class="app" v-for="instance in instances">
  <div class="instance-picker">
    <div>{{ instance.name }}</div>
  </div>
  <div class="instance">
    <div class="category-picker">
      <div>{{ cetegory.name }}</div>
    </div>
    <div class="category"></div>

    <div class="card">
      <header class="card-header has-background-brown">
        <h2 class="card-header-title has-text-white is-uppercase">
          {{ sectionTitle }}
        </h2>
        <p class="card-header-title is-block has-text-white has-text-right is-uppercase">
          Total: {{ sectionTotal }} {{ currency }}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <div>
            <button v-for="category in categories">{{ category.name }}</button>
          </div>
          <category v-for="category in categories.subCategories" @data-update="categoryTotal" @data-update-remove="updateItem" :category="category"
            :currency="currency" :key="category.id"></category>
        </div>
      </div>
      <footer class="card-footer">

      </footer>
    </div>
  </div>
</div>

<sub-category v-for="sub-category in category.subCategories" @data-update="categoryTotal" @data-update-remove="updateItem"
  :sub-category="sub-category" :currency="currency" :key="category.id"></sub-category>